<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>stackStack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38B06D591DF63A740003DCC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38B06D6D1DF63A760003DCC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38B06D781DF63A760003DCC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
